CHAOS_KEY=""
DIGITALYAMA_KEY=""
SHODAN_KEY=""
VIRUSTOTAL_KEY=""

URLSCAN_KEY=""
VIRUSTOTALARCHIVE_KEY=""
INTELX_API_KEY=""

DISCORD_BOT=""

GOOGLE_API_KEYS="Key1,Key2,KeyN"

PYTHONUNBUFFERED=1

AGENT=""
MODEL=""