CHAOS_KEY=""
DIGITALYAMA_KEY=""
SHODAN_KEY=""
VIRUSTOTAL_KEY=""


URLSCAN_KEY=""
VIRUSTOTALARCHIVE_KEY=""
INTELX_API_KEY=""


DJANGO_DEBUG=False
PYTHONUNBUFFERED=1

AGENT="deepcode"
MODEL="claude-sonnet-4-6"
IS_SANDBOX=1

XICODE_TOKEN=""
DEEPCODE_TOKEN=""