__pycache__/
backend/core/migrations/*
backend/core/migrations
backend/core/migrations/

output
resources/cookie.txt

*.sqlite3

/backend/output/
backend/output/
/backend/output/*

/backend/resources/cookie.txt
backend/resources/cookie.txt
#Keys
.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?








